@import "tailwindcss";

html {
  font-family: 'Lora';
  font-size: 16px;
  line-height: 1.15;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

body, #storybook-root, .sb-show-main.sb-main-padded {
  font-family: 'Lora';
  font-family: inherit;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

@theme {
  --text-big: 0.9375rem;
  --text-medium: 0.8125rem; 
  --text-small: 0.75rem; 
  --text-details: 0.5rem; 
  --text-terms: 0.4375rem; 
  --text-heading: 5rem;
  --text-heading-mobile: 2.5rem;
  --text-big-title: 48px; 
  --text-bigger-title: 67px; 
  --text-even-bigger-title: 96px; 
  --text-h1: 1.875rem; 
  --text-h2: 1.25rem; 
  --text-h3: 1rem; /* 16px */

  --color-err: #FF8861;
  --color-purple: #0B0119;
  --color-purple-secondary: #2B1D45;
  --color-purple-light: #9F5EF9;
  --color-input: #392A58;
  --color-newsletter-border: #C972F4;
  --color-bg-header: rgba(0,0,0,0.5);
}

@font-face {
    font-family: 'Lora';
    src: url('fonts/Lora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('fonts/Lora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('fonts/CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'CormorantGaramond';
    src: url('fonts/CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
